div.islandora_xacml_block > div.form-item {
  min-width: 275px;
  display: inline-block;
  display: -moz-inline-block;
  *display:inline; 
  *zoom:1;
  *vertical-align: 2%;
}

div.islandora_xacml_block_description .form-submit{
  vertical-align: 135%;
} 

div.islandora_xacml_selects {
  display: inline-block;
  display: -moz-inline-block;
  *display:inline; 
  *zoom:1;
  *vertical-align: 2%;
}

div.islandora_xacml_selects > div.form-item {
  margin-right: 10px;
  float: left;
}

div.islandora_xacml_block_description > div.form-item {
  min-width: 275px;
  display: inline-block;
  display: -moz-inline-block;
  *display:inline; 
  *zoom:1;
  *vertical-align: 2%;
}
